.userProifileContainer{
    padding: 1.3rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.backDropContainer{
    width: 100%;
    height:30vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3xYE5nC-FnEbS9cBmttUHND2fjD_C-C09JA&s");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}
.backDropContainer img{
 width: 8em;
 height: 8em;
 
 object-fit: cover;
 border-radius: 50%;
 position: absolute;
 bottom: -25%;
 left: 5px;
}
.profileContainer_details{
    padding-top:4rem ;
}

.backdrop {
  width: 8em;
 height: 8em;
 
 object-fit: cover;
 border-radius: 50%;
 position: absolute;
 bottom: -25%;
 left: 5px;
 z-index: 5;
 transition: all 0.45s;
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 0.0;
}
.backdrop:hover{
    opacity: 0.8;
      background-color: black;
      cursor: pointer;
      color: white;
}

.card{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}
.card_profilecontainer{
    display: flex;
    margin-top: 0.4rem;
}
.card_profilecontainer img{
    width: 3.4rem;
    height: auto;
    height: 3.4rem;
    object-fit: cover;
}
.connetbtn{
    padding-inline :0.8rem;
    padding-block:0.3rem ;
    background: rgba(3,93,183,0.905);
    outline:none;
    border:none;
    color:white;
    border-radius: 10px;;
    cursor: pointer;
   
}

.wrokhistorycontainer{
    display: flex;
    gap:1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;

}
.workHistoryCArd{
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
}
.nameEdit{
    outline: none;
    border-style: none;
    padding-inline: 10px;
    padding-block: 9px;
    font-size: 1.5rem;
    font-weight: bold;
}
.connectionBtn{
        padding-inline :0.8rem;
    padding-block:0.3rem ;
    background: rgba(3,93,183,0.905);
    outline:none;
    border:none;
    color:white;
    border-radius: 10px;;
    cursor: pointer;
    width: fit-content;
}
.txtarea{
    outline: none;
    border: none;
    border-style: none;
    padding-inline: 10px;
    padding-block: 9px;
    font-size: 0.87rem;
    font-family: 'Lucida Sans';
   
}
.addWorkbtn{
  border-style: 1px dotted silver;
  padding-inline: 1.3rem;
  background: white;
  padding-block: 1.2rem;
  border-radius:10px ;
  cursor: pointer;
}
.addWorkbtn:hover{
   background-color: rgba(104, 104, 104, 0.905);
   color: rgb(255, 255, 255);
}
.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top : 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    
}
.allcomments{
    width: 40vw;
    height: fit-content;
    background: white;
    border-radius: 10px ;
    position: relative;
    padding: 1.4rem;
    z-index: 10;
}

.row1 {
  width: 90%;
  padding: 11px 12px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  outline: none;
  margin-bottom: 1.1rem;
}
.connetbtn{
    padding-inline :0.8rem;
    padding-block:0.3rem ;
    background: rgba(3,93,183,0.905);
    outline:none;
    border:none;
    color:white;
    border-radius: 10px;;
    cursor: pointer;
   
}
